body{
    font-family: Arial, Helvetica, sans-serif;
}
.link-referencia{
    background-color: orange;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.link-referencia:hover{
    text-decoration: underline;
    color: #fff;
}
.contenedor-principal{
    text-align: center;
}
.imagen-perfil{
    width: 200px;

    border-radius: 50%;

}