*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Heebo";
}
 
.header {
    display: flex;
    /* flex-start
      center
      flex-end */
    justify-content: flex-end;
    background:linear-gradient(90deg,#69226a,#ba4170);
    position: fixed;
    width: 100%;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
  }
  
  .nav ul > li {
    padding: 15px;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  .nav ul li a:hover{
    color: #555;
  }
  
  .banner {
    height: 100vh;
    padding:0 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background:linear-gradient(90deg,#69226a,#ba4170);
    color: #fff;
  }

  .title-uno{
      font-size: 3em;
      font-weight: 500;
  }
  .title-dos{
    font-size: 2.5em;
    font-weight: 200;
    color: #FF6464;
  }


  .resume{
      width: 80%;
      font-weight: 300;
      margin-top: 25px;
      margin-bottom: 25px;
  }
  .btn-primary{
      background-color: #ff6464;
      color: white;
      border: none;
      padding: 15px;
      text-transform: capitalize;
      font-size: 16px;
      cursor: pointer;
  }



.section-works{
  height: 200vh;
}
