*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}

.contenedor p{
    color: #f01
}

.contenedor-dos h2{
    color: #aba;
}

.contenedor-tres a img{
    border: 2px solid blue;
}
.menu-navegacion{
    margin: 20px;
}

ul > li{
    border: 2px solid greenyellow;
}
input[type=email]{
    background-color: brown;
}

input[type=password]{
    color: goldenrod;
}