body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: red;
    background-color: black;
}
h2{
    color: green;
    background-color: aqua;
}

a{
    color: rgb(0, 0, 0);
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
}
#contenedor-uno{
    background-color: brown;
}
#contenedor-dos{
    background-color: maroon;
}

.contenedor-principal{
    background-color: violet;
    padding: 30px;
}
.btn-ingresar{
    background-color: rgb(9, 49, 182);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    border:none;
}

.btn-registro{
    font-size: 25px;
}

.contenedor-form{
    border: 3px solid orangered;
    border-radius: 8px;
    text-align: center;
}
.contenedor-interno-form{
    padding: 20px;
}
.titulo-form{
    background-color: #fff;
    color: royalblue;
}
.input-form{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #000;
    width: 400px;
}

.input-cofigo{
    width: 100px;
}

.input-numero{
    width: 275px;
}

.btn-crear{
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    border:none;
}
.btn-ingresar:hover{
    background-color: red;
    padding: 15px;
}

/*
elementos de seudoclases

link
visited
hover
active

estas seudoclases se aplican a todos los elementos html
*/

.contenedor-interno-form h1{
    border:  2px solid #000;
}

p:first-child{
    border: 2px solid rgb(155, 11, 11);
}

input:first-of-type {
    color: red;
    
}